.chart{
    width: 65px;
    height: 30px;
    color: var(--text-paragraph, #68738D);
    border-radius: 5px;
border: 0.982px solid var(--tertiary-stroke, #E5E8EC);
background: var(--text-white, #FFF);
font-size: 17.788px;
font-family: 'Roboto', sans-serif;
position: absolute;
right: 40px;
top: 0px;
align-items: center;
justify-content: center;
cursor: pointer;
}