@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');



.search-container{
    position: absolute;
/* width: 1176px; */
width: 1201px;
height: 70px;
left: 264px;
top: 0px;

background: #FFFFFF;
}

.search-bar{
    
position: absolute;
width: 480px;
height: 45px;
left: 50px;
top: 10px;
/* top: calc(50% - 45px/2 - 476.5px); */
text-indent: 35px;

background: #F5F5FA;
border-radius: 70px;
border: none;
}
.search-box{
    position: absolute;
width: 88.64px;
height: 20.4px;
/* left: 13.6px; */
left: 25px;
top: 12.6px;
border: none;
}
.search-bar::placeholder{
    position: absolute;
/* width: 49.25px; */
/* height: 20px; */
/* left: 55px; */
top: 13px;
left: 5px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;

color: #BBC3CF;
}
.search-icon{
    position: absolute;
    left: 59px;
    top: 23px;
}
.search-bar:-ms-input-placeholder{
    position: absolute;

top: 13px;
left: 10px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;

color: #BBC3CF;

}

.manager-container{
    position: absolute;
width: 168.51px;
height: 32.1px;
left: 1279px;
top: 20px;
/* background-color: red; */
}
.chevron{
    position:absolute;
    left: 95px;
    top:5px;
    color: #757575;
    width: 20.514px;
height: 20.514px;
flex-shrink: 0;
}
.bell-container{
    position: absolute;
    left: -40px;
    top: 5px;
    display: flex;
width: 24px;
height: 24px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.bell{
    width: 24px;
height: 24px;
flex-shrink: 0;
color: #333333;
}
.box{
    position: absolute;
width: 126.36px;
height: 32.1px;
/* left: 1271.16px; */
/* top: 10px; */
/* background-color: green; */
}
.inside-box{
    position: absolute;
width: 86px;
height: 32.1px;
/* left: 1271.16px; */
/* top: 20px; */
/* background-color: aqua; */
}
.destination{
    position: absolute;
width: 86px;
height: 15px;
/* left: 1271.16px; */
top: 20.1px;

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 10.2571px;
line-height: 15px;
letter-spacing: 0.01em;

color: #757575;
}
.name{
    position: absolute;
width: 65px;
height: 18px;
/* left: 1271.16px; */
/* top: 20px; */

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 11.9666px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.01em;

color: #000000;

}
